<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div id="top">
    <div id="logo">
        <img src="images/open.jpg" class="logo">
    </div>
    <div class="top_text">
        <p>Заявление на получение кредитного продукта</p>
        <p>Бизнес Аванс - Точка</p>
    </div>
    <table id="commonTable">
        <tbody>
        <tr>
            <td>{{ test }}</td>
            <td class="input">Общество с ограниченной ответственностью "ПРАЖСКИЕ ЛЬВЫ"Общество с ограниченной
                ответственностью "ПРАЖСКИЕ ЛЬВЫ"
            </td>
        </tr>
        <tr>
            <td>Дата</td>
            <td class="input">11.01.2018</td>
        </tr>
        <tr>
            <td>Клиентский Менеджер</td>
            <td class="input">Коновченко Яна Александровна</td>
        </tr>
        <tr>
            <td>Номер договора РКО</td>
            <td class="input">RKO-000000006563</td>
        </tr>
        <tr>
            <td>Номер договора ЭКВ</td>
            <td class="input">002700.000100</td>
        </tr>
        <tr>
            <td>ИНН</td>
            <td class="input">7841028720</td>
        </tr>
        </tbody>
    </table>
    <table id="paramsTable">
        <thead>
        <tr>
            <th colspan="2">Параметры кредитного продукта</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in monthAmount %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <table id="addressesTable">
        <tbody>
        <tr>
            <td>Адреса ТСП</td>
            <td>191186, г. Санкт-Петербург, Б. конюшенная 19/8 л.А/4Н</td>
        </tr>
        </tbody>
    </table>
    <table class="agreementsTable">
        <tbody>
        <tr>
            <td><img src="images/ok.jpg" alt=""></td>
            <td>Cделка для Общества является сделкой, осуществляемой в рамках обычной хозяйственной деятельности</td>
        </tr>
        <tr>
            <td><img src="images/ok.jpg" alt=""></td>
            <td>Настоящим Заявитель подтверждает, что ознакомлен со всеми условиями Кредитного договора,
                предусмотренными настоящим Заявлением и Правилами банковского обслуживания физических лиц, юридических
                лиц, индивидуальных предпринимателей и физических лиц, занимающихся в установленном законодательством
                Российской Федерации порядке частной практикой, в Филиале Точка Публичного акционерного общества Банка
                «Финансовая Корпорация Открытие»
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>